{% extends "base.html" %} {% block content %}

{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}

<!-- Header Section -->
<h1 class="mainTitle">Welcome to the {{ activeElection.title }} Election</h1>
<h2 class="subtitle">Please check in with your
    <strong>voter identification number</strong></h2>

<!-- Content Section -->


<form method="post" action="{% url 'checkin' %}">
    {% csrf_token %}

    <div>
        <td class="loginTextInput">ID Number: </td>
        <td class="loginTextInput">{{ form.id_number }}</td>
    </div>

    <div>
        <input class="button" type="submit" value="Check In" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>

<div class="popup" onclick="myFunction()">Help
    <span class="popupbox" id="myPopup">
        <h3> How to vote: </h3>
        <div class="popUpX">
            <p> x </p>
        </div>
        <div class="helpInfoContainer">
            <div class="helpInfo">
                <p> - For logging in and checking in, please refer to your voter identification number that you will have received in preregistration prior to today’s election day.
                    <br /> - If, at any point in the election, you wish to terminate your voting session, you may log out. You will then be able to begin the process over by returning to the checkin line.
                    <br /> - Once you submit your vote, your vote is considered recorded and unalterable. You may no longer vote any additional times.
                    <br /> - If you have any additional questions, raise your hand to call over a poll worker to assist you.
                </p>
            </div>
        </div>
    </span>
</div>

<div id="workButton">
    <a href="/workerLogin">Worker Login</a>
</div>

{% endblock content %}
