{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Information for Poll Workers </h2>
<div class="workerInfoContainer">
  <div class="workInfo">
        <div class="left">
            <h3> Worker Information </h3>
            <p> There will be a number of voting booths and one registration booth. </p>
            <p> Here is the procedure for executing the voting process. </p>
            <p> 1. Voters will line up to the registration booth and enter in their voting ID. </p>
            <p> 2. If a user is at registration booth for longer than one minute, there is a good chance that they are having trouble checking in. Please assist them by answering any questions if necessary. </p>
            <p> 3. Once they enter in their voting ID, they will be ready to move on to a voting booth. </p>
            <p> 4. Direct them to any open voting booth once they have checked in. If there are no voting booths available, have them wait until a voting booth is available. </p>
            <p> 5. When a user has finished voting, a physical record of their ballot will be automatically printed. Take this physical record and store it in a safe place for recount. </p>
            <p> Users that have questions have been instructed to raise their hands for assistance. Be sure to assist them in a timely manner to reduce any bottlenecks in the system.</p>
        </div>
    </div>
</div>
</body>
</html>
{% endblock content %}